{% extends 'base.html.twig' %}

{% block title %}{{ brand.name }}!{% endblock %}

{% block body %}
<div>
    <div><a href="{{ path('brand_list') }}">Retour</a></div>
    <h1>{{ brand.name }}</h1>

    <h2>La marque</h2>
   <div>{{ brand.description|raw }}</div>
    <img src="{{ asset('/upload/images/brand/' ~ brand.logo) }}" />


    <h2>Modèles</h2>
    <p>{{ models|length }} modèles</p>

    <ul>
        {% for model in models %}
            <li><a href="{{ path('model_show', {brand_slug: brand.slug, slug: model.slug}) }}">{{ model }}</a></li>
        {% endfor %}
    </ul>

    {% if previous >= 0 %}
        <a href="{{ path('brand_show', {slug: brand.slug, offset: previous}) }}">Précédent</a>
    {% endif %}

    {% if next < models|length %}
        <a href="{{ path('brand_show', {slug: brand.slug, offset: next}) }}">Suivant</a>
    {% endif %}

</div>
{% endblock %}
